body {
  margin: 0;
  padding: 5px;
}

h1 {
  margin: 0 -5px 0 -5px;
  background: black;
  padding: 5px;
  color: white;
}

h1 a, div.banner a {
  color: inherit;
}

a {
  text-decoration: inherit;
}

div.banner {
  margin: -5px;
  padding: 0 0.5em;
  background: black;
  color: white;
}

div.headings {
  background: #999;
  margin: 0 -5px;
  padding: 0.5em;
  border-bottom: 1px solid #333;
}

div.headings > * {
  margin: 0;
  padding: 0.3em 0 0 0;
  font-size: 120% 
}

div.headings a {
  color: #333;
}

a {
  font-style: italic;
}

a.external:after {
  content: "⇝";
}

div.body {
  float: left;
  width: 70%;
  padding: 0.5em;
}

div.subsections {
  float: right;
  width: 25%;
  padding: 0.5em;
  border-left: 1px dotted gray;
}

div.subsections h3 {
  background: inherit;
  margin: inherit;
  padding: 0;
}

div.subsections ul {
  padding: 0;
}

div.subsections ul li {
  list-style: none;
}

.poi {
  color: green;
}
