<h1><%= @book.title %></h1>

<%- unless @book.links.empty? -%>
<div class="toc">
  <% section = @book.root %>
  <ul>
    <%- for link in section.links -%>
    <li><%= book_section_link(@book, [link]) %></li>
    <%- end -%>
  </ul>
</div>
<%- end -%>
