<h1><%= @book.title %></h1>

<div class="body">

<div class="actions">
<%= link_to "full table of contents",  book_section_toc_path(@book, [])%>
</div>  

<div class="toc">
  <% section = @book.root %>
  <ul>
    <%- for link in section.links -%>
    <li><%= book_section_link(@book, [link]) %></li>
    <%- end -%>
  </ul>
</div>

</div>
